<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>
  <% flash[:errors].each do |error| %>
    <div class="flash errors"><%= error %></div>
  <% end %>
<% end %>