<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <a href="/" id="logo">chitter</a>
    <%= partial :maker_links %>
  </header>
  <%= partial :flash %>
  <%= yield %>
</body>
</html>