<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% if flash[:notice] %>
		<div class="flash"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:errors] && !flash[:errors].empty? %>
		<% flash[:errors].each do |error| %>
			<div class="flash errors"><%= error %></div>
		<% end %>
	<% end %>
	<% if current_user %>
		<a href="/peeps/new" title="New Peep" class="button">New Peep</a>
		<form id="sign-out" method="post" action="/sessions">
	    <input type="hidden" name="_method" value="delete">
	    <input type="submit" class="button bad" value="Sign Out">
	  </form>
	<% else %>
	 	<a href="/makers/new" title="Sign Up" class="button">Sign Up</a>
	 	<a href="/sessions/new" title="Sign In" class="button">Sign In</a>
 	<% end %>
	<%= yield %>
</body>
</html>