<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <a href="/" id="logo">chitter</a>
    <div class="maker-links">
      <% if current_user %>
        <span id="username" ><%= current_user.name %></span>
        <form id="sign-out" method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="button" value="Sign Out">
        </form>
        <a href="/peeps/new" title="New Peep" class="button">New Peep</a>
      <% else %>
        <a href="/makers/new" title="Sign Up" class="button">Sign Up</a>
        <a href="/sessions/new" title="Sign In" class="button">Sign In</a>
      <% end %>
    </div>
  </header>

  <% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:errors] && !flash[:errors].empty? %>
    <% flash[:errors].each do |error| %>
      <div class="flash errors"><%= error %></div>
    <% end %>
  <% end %>
  <%= yield %>
</body>
</html>