<div class="maker-links">
  <% if current_user %>
    <span id="username" ><%= current_user.name %></span>
    <form id="sign-out" method="post" action="/sessions">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" class="button" value="Sign Out">
    </form>
    <a href="/peeps/new" title="New Peep" class="button peep-button">New Peep</a>
  <% else %>
    <a href="/makers/new" title="Sign Up" class="button">Sign Up</a>
    <a href="/sessions/new" title="Sign In" class="button">Sign In</a>
  <% end %>
</div>