<section>
  <h1>Sign up now!</h1>
  <form id="sign-up" method="post" action="/makers">
      <input type="text" name="name" placeholder="Name" required />
      <input type="text" name="username" placeholder="Username" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <input type="password" name="confirmation" placeholder="Confirm Password" required />
      <input type="submit" class="form-button" name="Sign Up" value="Sign Up"  >
  </form>
</section>