<form id="sign-in" method="post" action="/sessions">
  <label>Username: <input type="text" name="username" required /></label>
  <label>Password: <input type="password" name="password" required /></label>
  <input type="submit" name="Sign In" value="Sign In" />
</form>