<h1>Sign in</h1>
<form id="sign-in" method="post" action="/sessions">
  <label>Username: <input type="text" name="username" required /></label>
  <label>Password: <input type="password" name="password" required /></label>
  <input type="submit" name="Sign In" value="Sign In" />
</form>
<small>New to chitter? Sign up <a href="/makers/new" title="Sign Up">here</a></small>