<form id="new-peep" method="post" action="/peeps">
	<label>Message: <textarea name="message" spellcheck="true" required>What's up today?</textarea></label>
	<input type="submit" name="Peep" value="Peep" class="button" />
</form>