<form id="new-peep" method="post" action="/peeps">
	<label>Message: <textarea name="message" spellcheck="true" placeholder="What's up today?" required></textarea></label>
	<input type="submit" name="Peep" value="Peep" class="button" />
</form>