<section>
  <form id="new-peep" method="post" action="/peeps">
    <textarea name="message" spellcheck="true" placeholder="What's up today?" maxlength="140" rows="4" required></textarea>
    <input type="submit" name="Peep" value="Peep" class="form-button peep-button" />
  </form>
</section>